body{
background-size: cover;
background-position: center;
}
#heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

canvas{
    border: rgb(20, 197, 115) solid 5px;
    background-color: rgb(255, 255, 255);
}